<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="top">

    </div>
    <div class="container">
        <div class="row">
            <div class="four columns">
                <h1>To Do List</h1>

                {% if tasks is not empty %}
                    <p>Here are all your tasks:</p>
                    <ul>
                        {% for task in tasks %}
                            <li>{{ task.getDescription }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form action='/tasks' method='post'>
                    <label for='description'>Task Description</label>
                    <input id='description' name='description' type='text'>

                    <button type='submit'>Add task</button>
                </form>
                <form action='/delete_tasks' method='post'>
                    <button type='submit'>Clear</button>
                </form>

            </div>

        </div>
    </div>
</body>
</html>
